<div class="block">
  <div class="block__wrapper">
    {{ title }}
  </div>

  <div *ngIf="filteredUsers" class="block__content">
    <ul *ngIf="(filteredUsers | async)?.length">
      <li *ngFor="let user of filteredUsers | async">
        {{ user.name }}
        {{ user.gender }}
      </li>
    </ul>

    <p *ngIf="!(users | async)?.length">LOADING...</p>
  </div>

  <div class="block__subtitle">
    <button type="button" (click)="handleClickButton()">Click</button>

    <button type="button" (click)="updateUsers()">UpdateUsers</button>
  </div>
</div>
